.mat-card {
  padding-bottom: 0;
}

h2.heading {
  display: flex;
  align-items: center;
  color: rgba(0,0,0,.75);

  .mat-icon {
    margin-right: 6px;
  }
  span {
    font-size: 14px;
    font-weight: 400;
    text-transform: uppercase;
  }
}

.resize-button {
  background-color: #f2f2f2;
  border-radius: 2px;
  display: flex;
  transition: background-color .1s ease-out;
  user-select: none;
  cursor: pointer;
  color: #3f51b5;
}
.resize-button:hover {
  background-color: #ececec;
}
.resize-button:active {
  background-color: #cacaca;
}

.body {
  display: flex;
  margin-bottom: 18px;

  .body-left {
    flex-basis: 100%;

    .bar-list-wrapper {
      height: 300px;
    }

    .resize-wrapper {
      margin-top: 18px;
    }

    .resize-button {
      cursor: row-resize;
      justify-content: center;
      margin-top: 18px;
    }
  }

  .body-right {
    display: flex;
    flex-shrink: 0;

    .resize-button {
      align-items: center;
      margin-left: 18px;
      .mat-icon {
        transition: transform .15s;
      }
    }
    .resize-button.isVisible {
      .mat-icon {
        transform: rotate(180deg);
      }
    }

    .settings-block-wrapper {
      overflow: hidden;

      .settings-block {
        padding-left: 18px;
      }
    }

    .input-row {
      display: flex;
      margin-left: -6px;
      margin-right: -6px;


      .mat-form-field {
        flex-basis: 50%;
        margin-left: 6px;
        margin-right: 6px;
      }

      .mat-form-field::ng-deep .mat-form-field-infix {
        width: inherit;
      }
    }

    .button-row {
      display: flex;
      margin-left: -6px;
      margin-right: -6px;
      margin-bottom: 1.25em;

      .mat-raised-button {
        flex-basis: 50%;
        margin-left: 6px;
        margin-right: 6px;
      }
    }

    p {
      font-size: 12px;
      line-height: 16px;
      margin-bottom: 4px;

      b {
        font-weight: 500;
      }
    }

    p:last-child {
      margin-bottom: 0;
    }
  }
}

.player {
  display: flex;
  justify-content: center;
  padding-top: 6px;
  padding-bottom: 6px;
}
