@import '~@angular/material/theming';

@import 'app/_app.component.scss';
@import 'app/sort/_sort.component.scss';
@import 'app/sort/bar/_bar.component.scss';

@include mat-core();

// Default
$app-warn:    mat-palette($mat-red);

// Defining light theme
$app-light-primary: mat-palette($mat-indigo);
$app-light-accent:  mat-palette($mat-purple, A200, A100, A400);
$app-light-theme:   mat-light-theme($app-light-primary, $app-light-accent, $app-warn);

// Defining dark theme
$app-dark-primary: mat-palette($mat-yellow);
$app-dark-accent:  mat-palette($mat-orange, A200, A100, A400);
$app-dark-theme:   mat-dark-theme($app-dark-primary, $app-dark-accent, $app-warn);

.light-theme {
  @include angular-material-theme($app-light-theme);
  @include app-light-base($app-light-theme);
  @include app-light-resize($app-light-theme);
  @include app-any-bar($app-light-theme);
}

.dark-theme {
  @include angular-material-theme($app-dark-theme);
  @include app-dark-base($app-dark-theme);
  @include app-dark-resize($app-dark-theme);
  @include app-any-bar($app-dark-theme);
}
